@import "./../../../../variables.scss";

.banner {
    min-height: 100vh;
     display: flex;
    flex-direction: row;
    align-items: center;
    .container {
        display: table;
        height: 100vh;
        width: 55%;
        

        .section-box-banner {
            display: table-cell;
            vertical-align: middle;

            .content {
                margin-top: 98px;
                width: 75%;
            }

            h1 {

                color: #64ffda;
                margin: 0 0 20px 3px;
                font-size: 16px;
                font-weight: normal;
                font-family: $CodeFont;
            }

            h2,
            h3 {
                font-weight: 600;
                font-size: 80px;
                line-height: 1.1;
                margin: 0;
                font-family: $MainFont;
                background: linear-gradient(120deg, #50efb5, #8ff4ca, #7e57c2, #0087f2, #26c6da, #43a047, #eeff41, #f9a825, #ff5722);
                color: #fff;
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }

            h2 {
                color: $LightestSlate;
            }

            h3 {
                color: $Slate;
            }

            .banner-description {
                margin-bottom: 70px;
            }

            p {
                max-width: 500px;
            }

            .div-btn-banner {
                height: 43px;
            }
        }

    }
}
.right img{
    width: 98%;
    height: 340px;
    margin-top: 40%;
    margin-left: -30%;
    object-fit: cover;
    border-radius: 20px;
}
@media (max-width: 1000px){
    .banner {
    min-height: 100vh;
     display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
     .container {
        display: table;
        height: 100vh;
        width: 100%;
        text-align: center;
         
        .section-box-banner {
            display: table-cell;
            vertical-align: middle;

            .content {
                margin-top: 40px;
                width: 95%;
            }
        }
     }
        
}
.right img{
            width: 95%;
        height: 400px;
        margin-top: 0%;
        margin-left: 3%;
        object-fit: cover;
        border-radius: 20px;
}
}
@media (max-width: 480px) {
.banner {
    min-height: 100vh;
     display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
     .container {
        display: table;
        height: 100vh;
        width: 100%;
        text-align: center;
         
        .section-box-banner {
            display: table-cell;
            vertical-align: middle;

            .content {
                margin-top: 98px;
                width: 95%;
            }
        }
     }
        
}
.right img{
            width: 95%;
        height: 200px;
        margin-top: 10%;
        margin-left: 3%;
        object-fit: cover;
        border-radius: 20px;
}
}
